.header-nav nav {
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 3rem;
  margin-top: 2rem;
  background-color: transparent;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.socialMedia, .socialMediaG {
  width: 50px;
  height: auto;
  color: transparent;
 
 
  background-color: #fff;
  height: auto;
  color: transparent;
  margin: 10px;
  border-radius: 50px;
}
.socialMediaG:hover {
  transform: scale(1.2);
}
.socialMedia:hover {
  transform: scale(1.2);
}
/* Media query para ajustar el diseño en pantallas más pequeñas */
@media (max-width: 768px) {
  .header-nav nav {
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Cambiado a centrar horizontalmente */
    margin-top: 1rem;
  }
  
  .contact-container {
    flex-direction: column;
    align-items: center;
    margin: 10px; /* Reducido el margen */
  }
  
  .socialMedia,
  .socialMediaG {
    width: 50px; /* Reducido el ancho */
    margin: 10px; /* Reducido el margen */
  }
}
