.projects{
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;

	
}
.projects-conteiner{
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;

}
.proj-imgbx {
	margin-top: 20px;
	justify-content: center;
	align-items: center;
  margin: 25px;
  border: 1px solid #fff;
  padding: 4px;
	width: 25%;
	height: 20%;
}
.btns{
	display: flex;
	justify-content: space-between;
	flex-direction: row;


}
.img-proj{
	width: 25%;
	height: 20%;
}

.projects-p{
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}
.footer-content{
	width: 100%;
	height: 80%;
	margin-top: 10px;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
	background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
}