.skills-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; 
  background-color: #fff;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  filter: drop-shadow(3px 3px 3px rgba(229, 206, 206, 0.5)); 
  width: 100%;
  height: auto;
  padding: 25px;
  margin-bottom: 5rem;
}



.fixed {
  position: fixed;
  bottom: 5rem;
  right: 0;
}
.fixed img {
  height: 4rem;
}
  
.target {
  background-color: transparent;
  width: 30%;
	cursor: pointer;
  filter: drop-shadow(3px 3px 3px rgba(229, 206, 206, 0.5));
}
.target img {
  width: 50%;
  height: auto;
}

.target:hover {
  transform: scale(1.2);
}

.skills-p{
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}
.p{
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}



