
.skills {
  display: flex;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  filter: drop-shadow(3px 3px 3px rgba(229, 206, 206, 0.5)); 
  width: 100%;
  height: 250px;
  padding: 25px;
}
  

.target {
  background-color: transparent;
  margin: 2rem;
  width: 90%;
	cursor: pointer;
  filter: drop-shadow(3px 3px 3px rgba(229, 206, 206, 0.5));
}

.target:hover {
  transform: scale(1.2);
}
.skills-p{
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;

}
.p{
  
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;

}
